﻿@model ecommerce_webapp_fe_cs.Models.ProductModels.Product
@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<div id="userIdDisplay"></div>
<h2>Product Details</h2>
<h4>@Model.ProId</h4>



<div>
    <h4>@Model.ProName</h4>
    <p>Description: @Model.Description</p>
    <p>Price: @Model.Price</p>


    <form method="post" action="/Product/AddToCart">
        @Html.AntiForgeryToken()
        <input type="hidden" name="proId" value="@Model.ProId" />
        <input type="hidden" name="quantity" value="1" /> <!-- Default quantity set to 1 -->
        <button type="submit">Add to Cart</button>
    </form>
</div>