@model ecommerce_webapp_fe_cs.Models.ProductModels.Product

@{
    Layout = "_LayoutStore";
}

<div>
    <h2>Product Details</h2>
    <div>
        <h3>@Model.ProName</h3>
        <p>Description: @Model.Description</p>
        <p>Price: @Model.Price</p>
        <p>Stock Quantity: @Model.StockQuantity</p>
        <p>Category: @Model.Category?.CategoryName</p>
    </div>
</div>
